{% extends "src/views/layout.html" %}

{% set title="About US Zen Institute" %}

{% block content %}
<div class="container mx-auto">
    <div class="prose max-w-none">
        <h2 class="text-center pt-8">About US Zen Institute</h2>
        <div class="m-auto grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="col-span-1">
                <p>美國禪學院的支持力量主要來自大華盛頓特區周邊的亞洲移民社區，尤其是當中的佛教徒。 由於這些信眾過去幾十年的支持，本院得以在馬里蘭州扎下根基。當前努力的目標，是在既有的基礎上增廣充實，在全球範圍內增進世人對佛法的系統性瞭解，同時透過跨宗教的交流與教學，讓佛法在社區層次持續向下扎根，真實改善學佛者的生活與生命。</p>
                <p>作為一個不強調宗派的佛教寺院，美國禪學院長期推動四無量心(慈悲喜捨)禪法的修學，以作為佛法能夠持續與現代生活脈動緊密連結的關鍵。在通往涅槃的路途中，四無量心的修持能夠更有效地培育出沒有貪嗔癡而且充滿動能的良善精神素質、真實改善個人生命與團體生活的品質，以及積集功德福報而往生善處。我們提供全方位的環境，藉助法義學習與禪修技巧習練，幫助所有對佛法有興趣的人踏上探索之旅。</p>
                <p>發軔於一座八十五年的老教堂，美國禪學院在二ＯＯ一年改建為面積超過一萬平方呎、配備了現代教學科技的現有講堂，外加一棟獨立的僧眾寮房。配合本院中長期的願景開展，在方丈法曜法師的領導下，我們於二零一七年在博伊斯（Boyds）購買土地並且開始規劃設計一座適於禪修以及現代化的道場，取名為醍醐寺。醍醐寺在新冠肺炎的大流行之際開始破土動工，前後歷經六年，於二Ｏ二三年四月八日正式落成啟用，並且舉行佛像的安座儀式。該佛像為公元二世紀於犍陀羅所造的佛像，距今已有超過一千八百年的歷史。</p>
                <p>本院同時體認到，在全球化的影響之下，佛教還應該融攝其他信仰團體，共同為落實社會和全球議題的解決貢獻一己之力。新禪院的發展，將以這樣的時代精神做為指導原則。歡迎全球對佛法有興趣的人前來，並希望大家都能在這樣優良的佛教環境裡，從更廣泛的課題研究與更深入的修行體驗當中，實踐自利的真實義以圓成利他的宏願。</p>
            </div>
            <div class="col-span-1">
                <p>The US Zen Institute (USZI) was founded upon the generous support from the greater DC Asian immigrant community, especially the Buddhists among them. Thanks to their backing for over two decades, we were able to build up a strong footing in Maryland. Our current objective, on the one hand, is to expand and enrich the existing programs in order to foster systematic understanding of Buddhism at the global level and, on the other hand, to engage in interfaith activities at the local level that intend to genuinely better the life quality of people in general and Buddhists in particular. We mean to keep in motion the globalization of Buddhism.</p>
                <p>The USZI does not identify itself with any particular Buddhist traditions. Instead, we believe the sustainability and efficacy of Buddhist practices, lay and monastic, hinge on cultivating the Four Divine Abiding samadhi which empowers wholesome mental qualities devoid of greed, hatred, and delusion – a state not only engenders knowledge-based faith, improves interpersonal and group relationships, but also serves as an unsurpassable means to accumulate meritorious merits and a secured rebirth in the fortunate destines before heading toward Nirvana. We offer full-spectrum instructions of doctrines and meditative techniques to facilitate our followers in treading this path.</p>
                <p>Our organization was established in 1988 in an 85-year old church. It was revamped into a 10,300 sq. ft temple in 2001, complete with Abbot's dormitory and equipped with modern instructional technologies. To materialize our mid and long-term goals of development, the USZI purchased an 11-acre lot nearby in 2017 to construct a meditation center that facilitates residential retreat as well as systematic doctrinal instructions. Despite setbacks caused by the COVID-19 pandemic, under the leadership of Abbot Ven. Dhammadipa, construction commenced in 2020 and was fully completed on April 8th, 2023, with the enshrinement of a 2nd century Ghandara Buddha statue to mark the end of the construction process and the beginning of a new journey.</p>
                <p>The USZI fully recognizes the existing societal as well as global challenges posed by the ongoing globalization. We take it as a guiding principle for Buddhist organizations such as the USZI to work hand in hand with all other faiths in addressing these issues in the long term.</p>
                <p>We welcome people from all over the world who are interested in Buddhism to come and visit the USZI. It is our sincere hope that our well-crafted facilities and instructions will help you to investigate the intrinsic meanings of Buddhism and to put your understandings into actions that may benefit both yourself and others.</p>
            </div>
        </div>
        <hr class="my-4" />
        <h2 class="text-center py-4">Monastic Members 常住僧團成員</h2>
        <div class="flex items-stretch justify-center">
            <div class="m-auto grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="col-span-1">
                    <p class="font-bold underline p-0 m-0">方丈 Abbot</p>
                    <p class="p-0 m-0">法曜法師 (Fa Yao)<br />Ven. Dr. Dhammadipa Sak, Ph. D.</p>
        
                    <p class="font-bold underline pb-0 mb-0">監院 Prior</p>
                    <p class="p-0 m-0">永會法師<br />Ven. Yong-hui</p>
        
                    <p class="font-bold underline pb-0 mb-0">方丈侍者 Assistant</p>
                    <p class="p-0 m-0">海樂法師<br />Ven. Sagarananda Tien, Ph.D.</p>
                </div>
        
                <div class="col-span-1">
                    <div class="flex flex-col">
                        <img class="m-auto" src="../images/dhammadipa.png" />
                        <span class="m-auto text-xs text-gray-800 py-4">Ven. Dr. Dhammadipa Sak</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}