{% extends "src/views/layout.html" %}

{% set title="Contact US Zen Institute" %}\

{% block content %}
<div class="container mx-auto py-8">
    <div class="prose max-w-none">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="flex flex-col justify-center">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3093.150554053708!2d-77.2759152230131!3d39.17129797166691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b62dd59c7c82d9%3A0x4e1a4238ddf3056b!2sUS%20Zen%20Institute!5e0!3m2!1sen!2sus!4v1711042826298!5m2!1sen!2sus"
                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
                <div class="max-w-full mx-auto">
                    <div>
                        <h3 class="text-lg font-medium text-gray-900">我们的地址 Our Address</h3>
                        <p class="text-gray-600 py-0 my-0">美國禪學講堂 US Zen Institute</p>
                        <p class="text-gray-600 py-0 my-0">19225 Liberty Mill Rd</p>
                        <p class="text-gray-600 py-0 my-0">Germantown, MD 20874</p>
                    </div>
                    <div class="border-t border-gray-200 my-4">
                        <h3 class="text-lg font-medium text-gray-900">對外開放時段 Regular Hours</h3>
                        <p class="text-gray-600 py-0 my-0">每周日早上九點到下午五點 Sun 9:00 AM - 5:00 PM</p>
                    </div>
                    <div class="border-t border-gray-200 my-4">
                        <h3 class="text-lg font-medium text-gray-900">聯繫方式 Contact</h3>
                        <p class="text-gray-600 py-0 my-0">Email: <a href="mailto:info@uszen.org">info@uszen.org</a></p>
                        <p class="text-gray-600 py-0 my-0">Phone: +1 (301) 353-9781</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}