{% extends "src/views/layout.html" %}
{% set activePage = "courses" %}
{% set title="Courses" %}
{% set description="Lecture handouts for Diamond Sutra teachings by Ven. Dhammadipa at US Zen Institute. Study materials in Chinese." %}

{% block content %}
<div class="container mx-auto">
    <div class="prose-sm lg:prose-base max-w-none p-10">
        <h1 class="text-center">Courses</h1>
        <ul>
            <li>講義 Lecture hand out:</li>
            <li>
                <a href="https://drive.google.com/file/d/1fMguyWzj3-B2crvXenJwzTNxeDAs7Vn_/view?usp=sharing" target="_blank" rel="noopener noreferrer"
                    class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">《金剛經》與般若波羅蜜之成就 -
                    以無著菩薩之釋論為主(第一講)</a>
            </li>
            <li>
                <a href="https://drive.google.com/file/d/1tsxhghr4i58F9g8ndIQhqdw7-KPJxZlC/view?usp=sharing" target="_blank" rel="noopener noreferrer"
                    class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">《金剛經》與般若波羅蜜之成就 -
                    以無著菩薩之釋論為主(第二講)</a>
            </li>
            <li>
                <a href="https://drive.google.com/file/d/1zlTJc9EevyoMhGpvfMXRbHp4G4Zj2NCR/view?usp=sharing" target="_blank" rel="noopener noreferrer"
                    class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">《金剛經》與般若波羅蜜之成就 - 
                    以無著菩薩之釋論為主(第三講)</a>
            </li>
            <li>
                <a href="https://drive.google.com/file/d/1c0CPRnlBq4b7RP-c6FBvmq2eOP2dpXWH/view?usp=sharing" target="_blank" rel="noopener noreferrer"
                    class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">《金剛經》與般若波羅蜜之成就 -
                    以無著菩薩之釋論為主(第四講)</a>
            </li>
            <li>
                <a href="https://drive.google.com/file/d/1OqJmUZjfdVBj59-TClLJOuOOC4fWwwW9/view?usp=sharing" target="_blank" rel="noopener noreferrer"
                    class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">金剛般若波羅蜜經論-無著菩薩 （中華電子佛典協會，T25n1510b)</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}